page-report {
    ion-col.col {
        border: 0.1px solid #eaeaea;
    }
    .head ion-col.col {
        font-weight: bold;
    }
    .report-meta {
        text-align: right;
        .icon {
            font-size: 38px;
            vertical-align: middle;
        }
        .data {
            font-size: 18px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}