<ion-header>
  <ion-navbar>
    <ion-title>
      Expense Tracker
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-menu [content]="mainmenu">
  <ion-content>
    <ion-list>
      <ul class="side-menu">
        <li>
          <a [navPush]="settingsPage">
              <ion-icon name="ios-settings-outline"></ion-icon>
              Settings</a>
        </li>
      </ul>
    </ion-list>
    <div class="close-menu">
      <ion-icon menuClose name="ios-close-circle-outline"></ion-icon>
    </div>
  </ion-content>
</ion-menu>
<ion-nav #mainmenu [root]="rootPage" menuToggle></ion-nav>

<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!--The content below is only a placeholder and can be replaced.-->
        <div>
          <h6>Please fill up the form to make an entry. All fields are required</h6>
        </div>
        <form (ngSubmit)="onSubmit(expenseForm.value)" #expenseForm="ngForm" class="clearfix">
          <div class="form-group">
            <label>Date:<span class="error">*</span></label>
            <ion-datetime class="form-control" id="Date" name="Date" displayFormat="DD-MM-YYYY" [(ngModel)]="Expense.Date" #Date="ngModel"></ion-datetime>
            <div [hidden]="Date.valid || Date.pristine"
                  *ngIf="Date.errors"
                  class="alert alert-danger">
                  Date is required
            </div>
          </div>
          <div class="form-group">
            <label>Title:<span class="error">*</span></label>
            <input type="text" class="form-control" id="Title" name="Title" 
              required
              [(ngModel)]="Expense.Title"
              #Title="ngModel" />
            <div [hidden]="Title.valid || Title.pristine"
                  *ngIf="Title.errors"
                  class="alert alert-danger">
                  Title is required
            </div>
          </div>
          <div class="form-group">
            <label>Category:<span class="error">*</span></label>
            <select class="form-control" id="Category" name="Category"
              required
              [(ngModel)]="Expense.Category"
              #Category="ngModel">
                <option value="" selected="selected">Select</option>
                <option value="Hotel">Hotel</option>
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Grocery">Grocery</option>
                <option value="Clothing">Clothing</option>
                <option value="Society">Society</option>
                <option value="Movie">Movie</option>
                <option value="Travel">Travel</option>
                <option value="Electricity">Electricity</option>
                <option value="Broadband">Broadband</option>
                <option value="Mobile">Mobile</option>
                <option value="Flat">Flat</option>
                <option value="Car">Car</option>
                <option value="Bike">Bike</option>
            </select>
            <div [hidden]="Category.valid || Category.pristine"
                  *ngIf="Category.errors"
                  class="alert alert-danger">
                  Category is required
            </div>
          </div>
          <div class="form-group">
            <label>Amount:<span class="error">*</span></label>
            <input type="text" class="form-control" id="Amount" name="Amount" 
              required
              [(ngModel)]="Expense.Amount"
              #Amount="ngModel" />
            <div [hidden]="Amount.valid || Amount.pristine"
                  *ngIf="Amount.errors"
                  class="alert alert-danger">
                  Amount is required
            </div>
          </div>
          <div class="form-group">
            <label>By Whom:<span class="error">*</span></label>
            <input type="text" class="form-control" id="ByWhom" name="ByWhom" 
              required
              [(ngModel)]="Expense.ByWhom"
              #ByWhom="ngModel" />
            <div [hidden]="ByWhom.valid || ByWhom.pristine"
                  *ngIf="ByWhom.errors"
                  class="alert alert-danger">
                  By Whom is required
            </div>
          </div>
          <div class="form-group">
              <label>Details:<span class="error">*</span></label>
              <input type="text" class="form-control" id="Details" name="Details" 
                required
                [(ngModel)]="Expense.Details"
                #Details="ngModel" />
              <div [hidden]="Details.valid || Details.pristine"
                    *ngIf="Details.errors"
                    class="alert alert-danger">
                    Details is required
              </div>
            </div>
          <input class="btn button" [disabled]="!expenseForm.form.valid" type="submit" name="submit" value="Submit" />
          
        </form>
      </div>
    </div>
  </div>
</ion-content>